@import "../sass/helpers/mixins";
@import "../sass/helpers/variables";


.module{position: relative; *zoom:1; background: $color_white; overflow: hidden; padding: 0.2rem 0;
  &:after{content: ''; display: table; clear: both; height: 0;}
  .pic{ position: relative; overflow: hidden; height: 100%;
    img{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100%;}
  }
}

/*imgtxt*/
.module-img-slide{ width:100%;height: 10rem;position: relative; text-align: center; padding: 0;
  .slide-wrap{ height: 100%;}
  .islider-outer{
    > li{ overflow: hidden !important;}
  }
  .islider-dot-wrap { display: inline-block; width: auto; text-align: center; top: -20px; position: relative; height: 10px; padding: 0 4px; background: rgba(255,255,255,.8); @include border-radius(5px);}
  .islider-dot { background: $color_grey; width: 4px; height: 4px; margin-top: 3px; vertical-align: top;
    &.active { background: $color_black; }
  }
}
/*module-img-col2*/
.module-img-col2 {
  ul { margin-top: -0.4rem;}
  li { float: left;width: 7.4rem;height: 7.4rem;margin: 0.400rem 0 0 0.400rem; overflow: hidden; }
  .pic {width: 100%;height: 100%;}
}

/*module-img-auto*/
.module-img-auto {width:100%;
  img { max-width: 100%;}
}
/*module-title*/
.module-title {border-color: #d90000;}
.module-title a { border-color: inherit; display: block; padding: 8px; background: #fff; overflow: hidden; }
.module-title .txt { display: block; line-height: 22px; font-size: 16px; border-color: inherit; }
.module-title.type-1 a { padding-left: 7px; border-left-width: 4px; border-left-style: solid; }
.module-title.type-2 a { padding-left: 5px; }
.module-title.type-2 a .txt { padding-left: 7px; border-left-width: 4px; border-left-style: solid; }
.module-title.type-3:before { content: ""; color: #fff; left: 5px; top: 13px; position: absolute; width: 10px; height: 10px; background-color: inherit; }
.module-title.type-3 a { padding-left: 22px; }
.module-title.type-3 a:before, .md-auxiliary-title.type-3 a:after { position: absolute; content: ""; background: #fff; }
.module-title.type-3 a:before { left: 5px; top: 17px; width: 10px; height: 2px; }
.module-title.type-3 a:after { left: 9px; top: 13px; width: 2px; height: 10px; }
.module-title.type-4 a { padding-left: 10px; border-bottom-width: 2px; border-bottom-style: solid; padding-bottom: 6px; }
.module-title.type-5 a { border-bottom-width: 1px; border-bottom-style: solid; padding-left: 0; padding-bottom: 0; }
.module-title.type-5 a .txt { float: left; padding: 0 10px 5px; border-bottom-width: 2px; border-bottom-style: solid; }
.module-title.type-6 a { padding-left: 20px; color: #fff !important; background: none; }
.module-title.type-6 a:before { position: absolute; left: 6px; top: 12px; content: ""; width: 0; height: 0; border: 6px solid transparent; border-left-color: #fff; }
/*module-product*/
.module-product {
  ul { margin-top: -0.4rem;}
  li {float: left;width: 7.35rem;margin: 0.4rem 0 0 0.4rem;border: 1px solid #d2d2d2;background: #fff;}
  .pic {height: 7.35rem;}
  .goodsname { overflow: hidden; line-height: 14px; height: 28px; font-size: 11px; color: #000; margin: 3px 7px 5px; }
  .goodsprice { line-height: 16px; margin: 0 7px; border-top: 1px solid #eee; padding-top: 5px;overflow: hidden;}
  .goodsprice .price-real { float: left; color: #c92b50; font-size: 12px; }
  .goodsprice .price-real em { font-size: 16px; }
  .goodsprice .price-origin { float: right; font-size: 10px; color: #959595; }
}
/*module-product*/
.module-product-col3 {}
.module-product-col3 .slide-data { display: block !important; opacity: 0; white-space: nowrap; font-size: 0; }
.module-product-col3 .slide-data .itemgroup { display: inline-block; }
.module-product-col3 .mod-list .itemgroup { margin-top: -0.4rem; }
.module-product-col3 .mod-list .item { float: left; width: 4.75rem; margin: 0.4rem 0 0 0.4rem; border: 1px solid #d2d2d2; background: #fff; }
.module-product-col3 .pic { height: 4.75rem; }
.module-product-col3 .price-real { text-align: center; height: 18px; line-height: 18px; color: #000; font-size: 12px; }
.module-product-col3 .ui-slider-dots { line-height: 20px; text-align: center; }
.module-product-col3 .ui-slider-dots b { background: #959595; margin: 0 3px; }
.module-product-col3 .ui-slider-dots .ui-state-active { background: #000; }
.module-product-col3 .islider-outer > li { -webkit-box-pack: start; box-pack: start; -webkit-box-align: start; box-align: start; }
.module-product-col3 .islider-dot-wrap { text-align: center; position: relative; height: 10px; }
.module-product-col3 .islider-dot { background: #999; width: 4px; height: 4px; margin-top: 3px; vertical-align: top; }
.module-product-col3 .islider-dot.active { background: #000; }