//colors
$color_white : #fff;
$color_grey_bg : #eeeeee;
$color_grey_line : #f0f0f0;
$color_border : #dfdfdf;
$color_black : #000;
$color_dark : #3c3c3c;
$color_grey : #888;
$color_grey6 : #666;
$color_grey9 : #999;
$color_greyd : #DDD;
$color_greyc : #ccc;
$color_orange : #008cd6;
$color_green : #68b200;
$color_red : #e60000;
$color_light_red : #f27f7f;
$color_blue : #008cd6;
$disabled : #d2d2d2;
$color_red:#e91930;
$color_orangetwo:#ff6900;
$color_cs: #ff8400;
$color_orangethree:#f39800;